:root {
  --primary-colour: #FF6600;
  --secondary-colour: #00050f;
  --success-colour: #3adb76;
  --warning-colour: #ffae00;
  --alert-colour: #cc4b37;
	--light-gray-colour: #e6e6e6;
	--medium-gray-colour: #cacaca;
	--dark-gray-colour: #8a8a8a;
	--black-colour: #0a0a0a;
	--white-colour: #fefefe;
	--star-colour: #ffffff;
	--claim-colour: #ffdd55;
	--social-fill-colour: #ffffff;
	--twitter-colour: #1DA1F2;
	--github-colour: #181717;
	--gitlab-colour: #FCA121;
	--steam-colour: #000000;
	--twitch-colour: #9146FF;
	--spotify-colour: #1DB954;
	--facebook-colour: #1877F2;
	--rss-colour: #FFA500;
}

[data-theme="light"] {
  --primary-colour: #00050f;
  --secondary-colour: #FF6600;
  --success-colour: #3adb76;
  --warning-colour: #ffae00;
  --alert-colour: #cc4b37;
	--light-gray-colour: #e6e6e6;
	--medium-gray-colour: #cacaca;
	--dark-gray-colour: #8a8a8a;
	--black-colour: #0a0a0a;
	--white-colour: #fefefe;
	--social-fill-colour: #ffffff;
	--twitter-colour: #1DA1F2;
	--github-colour: #181717;
	--gitlab-colour: #FCA121;
	--steam-colour: #000000;
	--twitch-colour: #9146FF;
	--spotify-colour: #1DB954;
	--facebook-colour: #1877F2;
	--rss-colour: #FFA500;
}
