@mixin base-colours-dark {
	--kepler-orange-colour: #FF6600;
	--kepler-orange-colour-light: #ff7b24;
	--kepler-blue-colour: #00050f;
	--kepler-blue-colour-light: #000d28;
	--primary-colour: #FF6600;
	--primary-colour-light: #ff7419;
	--secondary-colour: #00050f;
	--secondary-colour-light: #000d28;
	--success-colour: #3adb76;
	--success-colour-light: #4fde84;
	--warning-colour: #ffae00;
	--warning-colour-light: #ffb519;
	--alert-colour: #cc4b37;
	--alert-colour-light: #d05c4a;
	--primary-colour-rgba: 255, 102, 0;
	--primary-colour-light-rgba: 255, 116, 25;
	--secondary-colour-rgba: 0, 5, 15;
	--secondary-colour-light-rgba: 0, 13, 40;
	--success-colour-rgba: 58, 219, 118;
	--success-colour-light-rgba: 79, 222, 132;
	--warning-colour-rgba: 255, 174, 0;
	--warning-colour-light-rgba: 255, 181, 25;
	--alert-colour-rgba: 204, 75, 55;
	--alert-colour-light-rgba: 208, 92, 74;
	--light-grey-colour: #e6e6e6;
	--medium-grey-colour: #cacaca;
	--dark-grey-colour: #8a8a8a;
	--black-colour: #0a0a0a;
	--white-colour: #fefefe;
	--star-colour: #ffffff;
	--claim-colour: #ff7b24;
	--social-fill-colour: #ffffff;
	--twitter-colour: #1DA1F2;
	--github-colour: #181717;
	--gitlab-colour: #FC6D26;
	--steam-colour: #000000;
	--twitch-colour: #9146FF;
	--spotify-colour: #1DB954;
	--facebook-colour: #1877F2;
	--rss-colour: #FFA500;
}
