$social-fill-alt: scale-color($secondary-color, $lightness: +34%);

$socials: (
	mastodon: #6364FF,
	twitter: #1DA1F2,
	github: #181717,
	gitlab: #FC6D26,
	steam: #000000,
	twitch: #9146FF,
	spotify: #1DB954,
	facebook: #1877F2,
	rss: #FFA500,
)
