{% if page.project %}
	{% assign project = page.project %}
{% elsif post.project %}
	{% assign project = post.project %}
{% endif %}
{% if project %}
<!-- Begin include/project-info -->
<ul class="generic project-info simple menu">
	{% for info in project %}
	{% if info[0] == "languages" or info[0] == "tools" %}
	{% continue %}
	{% elsif info[0] == "state" %}
	{% assign state = info[1] %}
	{% assign state_colour = site.data.project-state-colours[state] %}
	<!-- Begin status -->
	<li>
		<img	src="https://img.shields.io/badge/status-{{ info[1] }}-{{ state_colour }}.svg?style=for-the-badge"
						alt="Two-sided icon that reads status {{ info[1] }} with status on one and {{ info[1] }} beeing on the other side."
						title="{{ page.namespace}} status is {{ info[0] | capitalize] }}"
						class="svg"
			/>
	</li>
	<!-- End status -->
	{% elsif info[0] == "url" %}
	<!-- Begin homepage -->
	<li>
		<a href="{{ info[1] }}">
			<img	src="https://img.shields.io/badge/homepage-{{ page.namespace }}-ff6600.svg?style=for-the-badge"
						alt="Two-sided icon that reads homepage {{ page.namespace }} with homepage on one and {{ page.namespace }} beeing on the other side."
						title="{{ page.namespace }} homepage"
						class="svg"
			/>
		</a>
	</li>
	<!-- End   homepage -->
	{% else %}
	<!-- Begin generic project info -->
	<li>
		<a href="{{ info[1] }}">
			<img	src="https://img.shields.io/badge/{{ info[0] }}-{{ page.namespace }}-ff6600?style=for-the-badge&logo={{ info[0] }}&logoColor=00050f"
						alt="{{ info[0] | capitalize] }} icon with the text {{ page.namespace }} next to it."
						title="{{ page.namespace }} {{ info[0] | capitalize }}"
						class="svg"
			/>
		</a>
	</li>
	<!-- End   generic project info -->
	{% endif %}
	{% endfor %}
</ul>
{% if project.languages %}
<ul class="language project-info simple menu">
	<li class="menu-text">
		{{ page.namespace }} Language(s):
	</li>
	{% for language in project.languages %}
	{% if language == "gnubash" %}
	<li>
		<img	src="https://img.shields.io/badge/shell-ff6600.svg?style=for-the-badge&logo={{ language }}&logoColor=00050f"
					alt="{{ language | capitalize] }} icon with the text Shell next to it."
					title="Shell"
					class="svg"
		/>
	</li>
	{% continue %}
	{% endif %}
	<li>
		<img	src="https://img.shields.io/badge/{{ language }}-ff6600.svg?style=for-the-badge&logo={{ language }}&logoColor=00050f"
					alt="{{ language | capitalize] }} icon with the text {{ language | capitalize] }} next to it."
					title="{{ language | capitalize] }}"
					class="svg"
		/>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% if project.tools %}
<ul class="tool project-info simple menu">
	<li class="menu-text">
		{{ page.namespace }} Tool(s):
	</li>
	{% for tool in project.tools %}
	<li>
		<img	src="https://img.shields.io/badge/{{ tool }}-ff6600.svg?style=for-the-badge&logo={{ tool }}&logoColor=00050f"
					alt="{{ tool | capitalize] }} Icon with the text {{ tool | capitalize] }} next to it."
					title="{{ tool | capitalize] }}"
					class="svg"
		/>
	</li>
	{% endfor %}
</ul>
{% endif %}
<!-- End   include/project-info -->
{% endif %}
