/**
 * @file
 * This file includes every settings change from foundation-sites
 * Copy over the section what it is from and the tweak the variables
 */

@import 'util/util';

$kepler-blue: #00050f;
$kepler-blue-light: scale-color($kepler-blue, $lightness: +5%);
$kepler-orange: #FF6600;
$kepler-orange-light: scale-color($kepler-orange, $lightness: +5%);

// 1. Global
// ---------

$foundation-palette: (
  primary: $kepler-orange,
  secondary: $kepler-blue,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$body-background: var(--secondary-colour);
$body-font-color: var(--white-colour);
$body-font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

@include add-foundation-colors;

// 4. Base Typography
// ------------------

$font-family-monospace: 'Fira Code', Consolas, 'Liberation Mono', Courier, monospace;

// 10. Breadcrumbs
// ---------------

$breadcrumbs-item-color: var(--primary-colour);
$breadcrumbs-item-color-current: var(--white-colour);
$breadcrumbs-item-color-disabled: var(--medium-grey-colour);
$breadcrumbs-item-separator-item: '->';
$breadcrumbs-item-separator-item-rtl: '<-';
$breadcrumbs-item-separator-color: var(--medium-grey-colour);

// 13. Callout
// -----------

$callout-background: "secondary";
// Not used anymore
// Instead colour-light has been generated for every colour in the foundatiuon-palete
// $callout-background-fade: 5%;
$callout-border: 0.15em solid rgba(var(--primary-colour-rgba), 0.6);
$callout-font-color: var(--white-colour);
$callout-font-color-alt: var(--secondary-colour);

// 21. Label
// ---------

$label-background: var(--primary-colour-light);
$label-color: var(--secondary-colour-light);

// 27. Pagination
// --------------

$pagination-item-color: var(--primary-colour);
$pagination-item-background-hover: var(--secondary-colour-light);
$pagination-item-background-current: var(--primary-colour);
$pagination-item-color-current: var(--secondary-colour);
$pagination-item-color-disabled: var(--dark-grey-colour);

// 55. Top Bar
// -----------

$topbar-background: var(--secondary-colour-light);
$topbar-submenu-background: var(--secondary-colour-light);
$topbar-title-spacing: 0;
