main#main-content .fraktur {
	& h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
		font-family: "UnifrakturMaguntia";
		font-feature-settings: "ccmp", "dlig", "hlig", "liga", "ss02", "ss03", "ss11", "ss12", "ss13", "ss14", "ss16", "ss17", "ss18", "ss19", "ss20", "cv28";
	}
	font-family: "UnifrakturMaguntia";
	font-feature-settings: "ccmp", "dlig", "hlig", "liga", "ss02", "ss03", "ss11", "ss12", "ss13", "ss14", "ss16", "ss17", "ss18", "ss19", "ss20", "cv28";

	& p:last-child {
		font-family: $body-font-family;
		font-variant-caps: normal;
	}
}

main#main-content .fraktur-with-replacement-ligatures {
	& h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
		font-family: "DS Tannenberg Fett orig";
	}
	font-family: "DS Tannenberg Fett orig";

	& p:last-child {
		font-family: $body-font-family;
	}
}

main#main-content .fraktur-april-first {
	& h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
		font-family: "DS Tannenberg Fett";
	}
	font-family: "DS Tannenberg Fett";

	& p:last-child {
		font-family: $body-font-family;
	}
}
