.project-info {
	img, svg {
		height: 1.7rem;
	}
	svg {
		filter: none;
		g {
			font-family: $font-family-monospace;
		}
	}
	&.generic li:first-of-type {
		margin-left: 1rem;
	}
	li:first-of-type {
		margin-left: initial;
	}
}
