<!-- Begin include/header/main-nav -->
{% assign current_url = page.url | relative_url | remove: 'index.html' %}
{% assign splitted_url = page.url | remove: 'index.html' | split: '/' %}
{% assign translatable_title = 'titles.' %}
{% for node in site.data.nav.main %}
	{% assign t_title = node.title | | split:translatable_title %}
	{% if t_title[0] == blank %}
		{% assign translatable = true %}
	{% else %}
		{% assign translatable = false %}
	{% endif %}
	{% assign node_url = node.url | relative_url %}
	{% assign paged_front = splitted_url[1] | plus: 0 %}
	{% if current_url == node_url and current_url == frontpage %}
	<li class="is-active menu-text">
		<a href="{{ node_url }}">{{ site.title }}</a>
	</li>
	{% elsif current_url contains node_url and paged_front != 0 %}
	<li class="is-active menu-text">
		<a href="{{ node_url }}">{{ site.title }}</a>
	</li>
	{% elsif current_url contains node_url and current_url != frontpage and node_url != frontpage %}
	<li class="is-active">
		<a href="{{ node_url }}">{% if translatable %}{% t node.title %}{% else %}{{ node.title }}{% endif %}</a>
	</li>
	{% else %}
		{% if node_url == frontpage %}
		<li class="menu-text">
			<a href="{{ node_url }}">{{ site.title }}</a>
		</li>
		{% else %}
		<li>
			<a href="{{ node_url }}">{% if translatable %}{% t node.title %}{% else %}{{ node.title }}{% endif %}</a>
		</li>
		{% endif %}
	{% endif %}
{% endfor %}
<!-- End   include/header/main-nav -->
